
<div class="container">
  <div class="weather-side" (click)="goToLink('https://www.wattnboardsport.de/fileadmin/cam/Wremen_Cam.jpg')">
    <div class="weather-gradient"></div>
    <div class="date-container">
      <h2 class="date-dayname"></h2><span class="date-day">{{ CurrentDate | date: 'dd.MM.YY' }} - {{params.time}}</span><span class="location">Wremen</span>
    </div>
    <div class="weather-container">
      <h1 class="weather-temp">{{params.temp}}°C</h1>
    </div>
  </div>
  <div class="info-side">
    <div class="today-info-container">
      <div class="today-info">
        <div class="humidity"> <span class="title">Luftfeuchtigkeit</span><span class="value">{{params.hum}} %</span>
          <div class="clear"></div>
        </div>
        <div class="wind"> <span class="title">Wind</span><span class="value">{{params.windAvg}} kts</span>
          <div class="clear"></div>
        </div>
        <div class="gusts"> <span class="title">Böen</span><span class="value">{{params.windMax}} kts</span>
          <div class="clear"></div>
        </div>
        <div class="gusts"> <span class="title">Wind max.</span><span class="value">{{params.windDayMax}} kts um {{params.windDayMaxTime}}</span>
          <div class="clear"></div>
        </div>
        <div class="winddir"> <span class="title">Windrichtung</span><span class="value">{{params.windAvgDir}}° ({{params.windDomDir}})</span>
          <div class="clear"></div>
        </div>
        <div class="press"> <span class="title">Luftdruck</span><span class="value">{{params.press}} hPa</span>
          <div class="clear"></div>
        </div>
      </div>
      <div class="compass">
        <div class="direction">
          <p>{{params.windDomDir}}<span>{{params.windAvg}} kts</span></p>
        </div>
        <div class="arrow {{params.windDomDir | lowercase}}"></div>
      </div>
    </div>
  </div>
</div>
