@import url(https://fonts.googleapis.com/css?family=Dosis:200,400,500,600);
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

/* Application-wide Styles */
h1 {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

.hidden {
  display: none;
}
.compass {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  color: #555;
  margin: 25px;
  &:before {
    font-weight: bold;
    position: absolute;
    text-align: center;
    width: 100%;
    content: "N";
    font-size: 14px;
    top: -2px;
  }
  .direction {
    height: 100%;
    width: 100%;
    display: block;
    background: #f2f6f5;
    background: -moz-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f6f5), color-stop(100%, #cbd5d6));
    background: -webkit-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
    background: -o-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
    border-radius: 100%;
    p {
      text-align: center;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 100%;
      line-height: 80px;
      display: block;
      margin-top: -45px;
      font-size: 28px;
      font-weight: bold;
      span {
        display: block;
        line-height: normal;
        margin-top: -24px;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: normal;
      }
    }
  }
  .arrow {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    &:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 15px solid #0099cc;
      position: absolute;
      top: -6px;
      left: 50%;
      margin-left: -5px;
      z-index: 99;
    }
    &.nno { transform: rotate(22.5deg); }
    &.no { transform: rotate(45deg); }
    &.ono { transform: rotate(67.5deg); }
    &.o { transform: rotate(90deg); }
    &.oso { transform: rotate(112.5deg); }
    &.so { transform: rotate(135deg); }
    &.sso { transform: rotate(157.5deg); }
    &.s { transform: rotate(180deg); }
    &.ssw { transform: rotate(202.5deg); }
    &.sw { transform: rotate(-135deg); }
    &.wsw { transform: rotate(-114.5deg); }
    &.w { transform: rotate(-90deg); }
    &.wnw { transform: rotate(-69.5deg); }
    &.nw { transform: rotate(-45deg); }
    &.nnw { transform: rotate(-24.5deg);}
  }
}

:root {
  --gradient: linear-gradient( 135deg, #72EDF2 10%, #5151E5 100%);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.25em;
}

.clear {
  clear: both;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: #343d4b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.container {
  border-radius: 25px;
  background-color: #222831;
  color: #ffffff;
  height: 400px;
  width: 635px;
}

.weather-side {
  position: relative;
  height: 100%;
  border-radius: 25px;
  background-image: url("https://www.wattnboardsport.de/fileadmin/cam/Wremen_Cam.jpg");
  width: 300px;
  -webkit-box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  -o-transition: transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  -webkit-transform: translateZ(0) scale(1.02) perspective(1000px);
  transform: translateZ(0) scale(1.02) perspective(1000px);
  float: left;
  background-size: cover;
  cursor: pointer;
}

.weather-side:hover {
  -webkit-transform: scale(1.05) perspective(1500px) rotateY(10deg);
  transform: scale(1.05) perspective(1500px) rotateY(10deg);
}

.weather-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: var(--gradient);
  border-radius: 25px;
  opacity: 0.8;
}

.date-container {
  position: absolute;
  top: 25px;
  left: 25px;
}

.date-dayname {
  margin: 0;
}

.date-day {
  display: block;
  text-shadow: -1px 2px 1px hsl(0deg 0% 52%);
}

.location {
  display: inline-block;
  margin-top: 10px;
  text-shadow: -1px 2px 1px hsl(0deg 0% 52%);
}

.location-icon {
  display: inline-block;
  height: 0.8em;
  width: auto;
  margin-right: 5px;
}

.weather-container {
  position: absolute;
  bottom: 25px;
  left: 25px;
}

.weather-icon.feather {
  height: 60px;
  width: auto;
}

.weather-temp {
  margin: 0;
  font-weight: 700;
  font-size: 4em;
}

.weather-desc {
  margin: 0;
}

.info-side {
  position: relative;
  float: left;
  height: 100%;
  padding-top: 25px;
}

.today-info {
  padding: 0;
  margin: 0 25px 25px 25px;
  border-radius: 10px;
  width: 100%;
}

.today-info>div:not(:last-child) {
  margin: 0 0 10px 0;
}

.today-info>div .title {
  float: left;
  font-weight: 700;
}

.today-info>div .value {
  float: right;
}
